extends base

block title
  | Lobby

block header-title
  | Lobby
  
block content
  if error
    p.alert.alert-error= error
  else
    form(method='post')
      #room
        mixin show_room(room, user_uid)
      if room.owner_uid == user_uid
        h2 Get Some Friends To Join! 
        p
          | Have your friends go to:
        p.alert
          a(href='http://bit.ly/playinaworld') http://bit.ly/playinaworld
        p
          | And tell them to use your passphrase:
        p.alert
          strong= room.passphrase

mixin show_room(room, user_uid)
  h2 Current Players
  div#players
    if room.writers.length
      each writer in room.writers
        p 
          = writer.name
          if user_uid == writer.uid
            em   (You)
          else
            if room.owner_uid == user_uid
              |  
              button(type='submit', class='btn', name='action_remove_'+writer.uid) X
    else
      p
        em No players in this room
  if room.owner_uid == user_uid
    if room.writers.length > 1
      p
        button(type='submit', class='btn btn-primary btn-block', name='action_start') Start Playing
  else
    p.alert Waiting to Start...
        
block scripts
  if room
    script.
      (function() {
        var room = {uid: '#{room.uid}', owner_uid: '#{room.owner_uid}'};
        var user_uid = '#{user_uid}';
        var waitTime = 2000;
        $(document).ready(function() {
          $room = $('#room');
          var retry = function(f) {
            setTimeout(f, waitTime);
          };
          var checkLobby = function() {            
            $.ajax({
              url: '/api/1/polling/lobby/'+room.uid+'/', 
              cache: false,
              dataType: 'json'
            }).done(function(data) {
              if(data.result.status) {
                window.location = '/play/'+room.uid+'/'+user_uid+'/';
              } else {
                if(data.result.writers) {
                    room.writers = data.result.writers;
                    $room.html(templatizer.lobby.show_room(room, user_uid));
                }
                retry(checkLobby);
              }
            }).fail(function() {
              retry(checkLobby);
            });
          };
          checkLobby();
        });
      })();