extends base

block title
  | Play
block header
  div#header(style='position: relative')
    h1#title
      | Write a Story

block content
  if error
    p.alert.alert-error= error
  form#story-form
    p(style='text-align: left')
      span#story
        each word in room.story
          = word
      span#temporary-word
      | 
      if user_uid == room.turns[0]
        input#word.input-inline.input-primary(type='text', name='word', placeholder='Word', autocapitalize='off', autofocus='autofocus', size=6)
      else
        input#word.input-inline(type='text', name='word', placeholder='Word', autocapitalize='off', autofocus='autofocus', size=6, disabled='disabled')
      |  
      span#status.muted= status
    button.btn.btn-primary.btn-block(type='submit') Submit Word
  if room.owner_uid == user_uid
    form#finish-form(method='post')
      button.btn.btn-block(type='submit', name='action_finish') Finish Story

block scripts
  script.
    (function() {
      var PUNCTUATION = ['.', ',', '?'];
      var room_uid = '#{room.uid}';
      var writer_uid = '#{user_uid}';
      var turn = '#{turn}';
      var waitTime = 1;
      var increaseWaitTime = function() {
        waitTime = Math.min(10000, waitTime + 200);
      }
      var resetWaitTime = function() {
        waitTime = 1;
      }
      var retry = function(f) {
        setTimeout(f, waitTime);
      };
      $(document).ready(function() {
        var $storyForm = $('#story-form');
        var $temporaryWord = $('#temporary-word');
        var $word = $('#word');
        var $story = $('#story');
        var $status = $('#status');
        var updateWord = function(data) {
          if(data.result.turns[0] == writer_uid) {
            $word.removeAttr('disabled');
            $word.addClass('input-primary');
          } else {
            //$word.attr('disabled', 'disabled');
            $word.removeClass('input-primary');
          }
        };
        var updateStory = function(data) {
          $story.html(data.result.story.join(''));
        };
        var updateTurn = function(data) {
          turn = data.result.turn;
          var position = data.result.turns.indexOf(writer_uid);
          if(position == 0) {
            $status.html('');
          } else {
            if(data.result.turns.length > 2) {
              $status.html('('+position+')');
            } else {
              $status.html('(waiting)');
            }
          }
        };
        $storyForm.submit(function(e) {
          e.preventDefault();
          var word = $word.val();
          if(word) {
            var temporaryWord;
            if(PUNCTUATION.indexOf(word[0]) == -1) {
              temporaryWord = ' '+word
            } else {
              temporaryWord = word;
            }
            $temporaryWord.html(temporaryWord);
            $word.val('');
            $word.trigger('click');
            $.ajax({
              url: '/api/1/add-word/'+room_uid+'/'+writer_uid+'/', 
              type: 'POST',
              cache: false,
              dataType: 'json',
              data: {
                word: word
              }
            }).done(function(data) {
              if(data.result) {
                $temporaryWord.html('');
                if(data.result != 'wrong-turn') {
                  updateStory(data);
                  updateWord(data);
                  updateTurn(data);
                }
              } else {
              
              }
            }).fail(function() {
              
            });
          }
        });
        var checkRoom = function() {            
          $.ajax({
            url: '/api/1/polling/play/'+room_uid+'/'+writer_uid+'/'+turn+'/',
            cache: false,
            dataType: 'json'
          }).done(function(data) {
            if(data.result) {
              if(data.result.finished_story) {
                window.location = '/story/'+data.result.finished_story+'/?room='+room_uid+'&writer='+writer_uid;
              } else {
                updateStory(data);
                updateWord(data);
                updateTurn(data);
              }
            }
            resetWaitTime();
            retry(checkRoom);
          }).fail(function() {
            increaseWaitTime();
            retry(checkRoom);
          });
        };
        checkRoom();
      });
    })();
  