extends base

block title
  | Story
block header-title
  | In a World

block facebook-meta
  meta(property='og:title', content=beginning)
  meta(property='og:url', content=redirect_uri)
  meta(property='og:type', content='article')
  meta(property='og:description', content=story.text)

block twitter-meta
  meta(name='twitter:title' content=beginning)
  meta(name='twitter:description' content=story.text)
  
block content
  p(style='text-align: left')
    = story.text
  br
  p(style='text-align: left') By 
    = writers
  br
  p
    a.btn.btn-block.btn-facebook(href='https://www.facebook.com/dialog/feed?app_id='+app_id+'&display=page&link='+link+'&redirect_uri='+redirect_uri) Share on Facebook
  p
    a.btn.btn-block.btn-twitter(href='https://twitter.com/intent/tweet?url='+link) Share on Twitter
  if room
    p
      a.btn.btn-block.btn-primary(href='/play-again/'+room+'/'+writer+'/') Play again!
  p
    a(href='/', class='btn btn-block') Start your own story